server:
  port: 8761

spring:
  application:
    name: discovery-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

# Expose the health endpoint
management:
  endpoints:
    web:
      exposure:
        include: health
