server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/your-username/credit-score-config-repo # Replace with your config repo
          default-label: main
